body{
    /*background-image: url('../signform/images/prometheus.jpeg');
    background-size: 100%;*/
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.button{
    border: solid 1px #da7c0c;
    background: #eb861c;
    background: -webkit-gradient(linear, left top, leftbottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a, #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    color: #fff;
    padding: 7px 12px;
    -webkit-border-radius:4px;
    moz-border-radius:4px;
    border-radius:4px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 3px -4px 5px #f06015;
    margin-right: 6px;
}

.button:hover{
    background: #f47c20;
    background: -webkit-gradient(linear, left top, leftbottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11, #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
h1{
    text-shadow: 3px -4px 5px #f06015;
    color: #d9d9d9;
}
/* ШАПКА*/
header {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #151115;
    padding: 20px 10px;
}
.wrap-logo {
    display: flex;
    align-items: center;

}
header a {
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: 300;
}

header a:hover {
    background-color: #c65712;
    color: #212121;
}

header a.active {
    background-color: #c65712;
}

nav {
    display: flex;
    align-items: center;
}
.round {
    border-radius: 50px; /* Радиус скругления */
    border: 3px solid white; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
.bcgrnd{
    width: 100%;
    height: 100%;

}
/*выпадающий*/
.dropbtn {
    border: none;
    background-color: #151115;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    border-radius: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #c65712;}