/*= ОБЩИЕ СТИЛИ
	--------------------------------------------------------*/
body {
    background-image: url("../../signform/images/clouds.jpeg");
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #081a26;
    margin: 0;
}

a {
    color: #f58220;
    font-weight: 400;
}
table{
    width: 700px;
    margin: auto;
}
.mlistempl {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;


}
.mupdate {
    margin-top: 80px;
    margin-right: 80px;
    margin-left: 80px;
    padding-bottom: 13px;
}
.bloccenter {
    width: 50%;  /* Указывается необходимая ширина */
    margin: 0 auto;
}
#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}
.regtext {
    font-size: 13px;
    margin-top: 26px;
    color: #777;
}
/*= КОНТЕЙНЕРЫ
--------------------------------------------------------*/
.container {
    font-weight: 400;
    overflow: hidden;
    text-align: center;
    height: auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.containerupd {
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 350px;
    height: auto;
    background: #fff;
    border-radius: 5%;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.container h1 {
    color: #081a26;
    text-align: center;
    border-bottom: 2px solid #f58220;
    font-weight: 300;
    margin-top: 13px;
}
.containerupd h1 {
    color: #081a26;
    text-align: center;
    font-weight: 300;
    border: 1px dashed #777;
    margin-top: 13px;
}
.containerupd form .input,.containerudp input[type=text],.containerudp input[type=password],.containerudp input[type=e] {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.containerupd form .input:focus {
    border: 1px solid #f58220;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}
/*= КНОПКИ
--------------------------------------------------------*/

.button{
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, leftbottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a, #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    color: #fff;
    padding: 7px 12px;
    -webkit-border-radius:4px;
    moz-border-radius:4px;
    border-radius:4px;
    float: right;
    cursor: pointer;
}

.button:hover{
    background: #f47c20;
    background: -webkit-gradient(linear, left top, leftbottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11, #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
/*= ПОДВАЛ
--------------------------------------------------------*/
footer {
    color: #777;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;}
/* ШАПКА*/
header {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #151115;
    padding: 20px 10px;
}
.wrap-logo {
    display: flex;
    align-items: center;

}
header a {
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: 300;
}

header a:hover {
    background-color: #c65712;
    color: #212121;
}

header a.active {
    background-color: #c65712;
}

nav {
    display: flex;
    align-items: center;
}
.round {
    border-radius: 50px; /* Радиус скругления */
    border: 3px solid white; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
.bcgrnd{
    width: 100%;
    height: 100%;

}
/*выпадающий*/
.dropbtn {
    border: none;
    background-color: #151115;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    border-radius: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #c65712;}